.bicicletas-lista {
  padding-bottom: 120px;
  padding-top: 60px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-lista h2 {
  margin-bottom: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista a {
  display: block;
  transition: 0.3s;
}
.bicicletas-lista h3:hover {
  display: block;
  font-size: 36px;
  transition: 0.3s;
  margin-left: 10px;
}
.bicicletas-lista img:hover {
  display: block;
  font-size: 36px;
  transition: 0.3s;
  margin-top: 10px;
}

.bicicletas-lista h3 {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 10px;
  background-color: var(--cor-p1);
}

.bicicletas-lista li span {
  padding: 20px;
}
